body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .wide {
    width: 100%;

    font-weight: bold;
    font-size: 20px;
   
  }

  #ulta {
    /* border: 1px solid red; */
    width: 64%;
    display: inline-block;
    vertical-align: top;
   
  }

  #sidha {
    /* border: 1px solid red; */
    width: 35%;
    display: inline-block;
    vertical-align: top;
    height: 700px;
  }
  #promos {
    display: flex;
    /* border: 1px solid red; */
    margin: auto;
    font-size: 18px;
    width: 50%;
  }
  #promos div:hover {
    color: #fe3398;
    cursor: pointer;
  }
  #appCode {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  #prInp {
    border: 2px solid black;
    padding: 5px;
  }
  #applyCo {
    border: 2px solid black;
   
  }
  #bill {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    height: 230px;
  }
  .bory {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  .spbw {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin-top: 8px;
  }
  #check_out {
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    width: 80%;
    font-weight: bold;
    background-color: #fe3398;
    color: white;
    outline: none;
    border: none;
  }
  #shop_more {
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    width: 80%;
    font-weight: bold;
    border: 2px solid black;
  }
  .boxes {
    display: flex;
    height: 170px;
    margin-top: 20px;
  }
 
  .bThree {
    text-align: end;
    font-weight: bold;
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
  }
  .bOne {
    display: flex;
    width: 45%;
    /* border: 4px solid black; */
    height: 100%;
  }
  .bTwo {
    width: 30%;
    /* border: 1px solid red; */
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .qty {
    padding: 10px;
    height: 40px;
    outline: none;
  }

  .oneImg {
    width: 40%;
    height: 100%;
    /* border: 1px solid green; */
    background-size: cover;
  }
  .oneText {
    width: 60%;
    /* border: 1px solid red; */
    height: 100%;
    font-size: 15px;
  }
  .oneText div {
    margin-top: 10px;
  }
  .desy {
    font-weight: bold;
  }

  .but_Div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }
  #move {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 13px;
    outline: none;
  }
  #remove {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 13px;
    outline: none;
  }
  #remove:hover,
  #move:hover {
    cursor: pointer;
  }